
::ng-deep .mat-dialog-container{
    transform: none !important;
    
    border: none !important;
    padding: 3rem !important;
    background: transparent !important;
}

.mainModalCont{
    width: 600px;
    height: 100%;
    max-height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .textArea{
        height: 240px;
        width: 442px;
        background-color: #fff;
        position: absolute;
        margin: 5rem;
        border-radius: 0.5rem;
        padding: 2.5rem 3.5rem;
        }
    .emp{
        position: relative;
        width: 175px;
        border-radius: .5rem;
        box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

        &.emp1{
            right: 3rem;
            top: -448px;
        }
        &.emp2{
            left: 464px;
            top: -310px;
            }
    }
}