<pep-page-layout>
    <ng-container pep-top-area>
        <pep-top-bar [title]="('Title_Addon' | translate)">
            <div header-start-content>
            </div>
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <!-- <google-map *ngIf="options" [options]="options"></google-map> -->
        <div #mapRef style="width:100%;height:400px"></div>
    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>